.container{
    margin:0;
    padding: 0;
}
.has-search .form-control {
    padding-left: 2.375rem;
    width: 130px;
    margin-left: 5px;
    
    
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.pic{
    margin:10px;
    width: 30px;
    padding-bottom: 5px;
    margin-left: 5px;
    
}

.chatTxt{
    display: inline-block;
    padding-right:20px;

}

.settings{
    cursor: pointer;
    position: relative;
    float: inline-start;
   
}
@media(min-width:425px){
    .has-search .form-control {
        width: 140px;
    }
}
 



