.container{
    margin:0;
    padding: 0;
}
.has-search .form-control {
    padding-left: 2.375rem;
    width: 35%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.pic{
    width: 5%;
}

.chatTxt{
    display: inline-block;
    padding-right:25%;

}

.settings{
    position: relative;
    cursor: pointer;
}


